*{
    margin : 0px;
    font-family: Arial;
}

::-webkit-scrollbar{
    width: 10px;
    height: 80%;
}

::-webkit-scrollbar-track{
    background-color: transparent;
    backdrop-filter: brightness(10%);
}

::-webkit-scrollbar-thumb {
    background-color: lightgreen;
}

#footer{
    position: fixed;
    bottom: 0;
    backdrop-filter: blur(10px) brightness(10%);
    color: violet;
    width: 100%;
    padding: 2px 0px 2px 10px;
    z-index: 3;
}
#about{
    height: 200px;
    background-color: black;
    color: white;
    margin-top: 50px;
    text-align: center;
}

@media(min-width : 1100px){
    body{
        background-image: url('../images/main.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100vh;
        
    }
    #navbut{
        display: none;
    }

    #heading{
        font-size: 150px;
        text-align: center;
        background: url('../images/h1_bg.jpg') 0 0;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        background-size: contain;
        animation: heading_bg 40s linear infinite alternate;
        /* mix-blend-mode: difference; */
    }
    @keyframes heading_bg {
        0%{
            background-position: 0 0;
        }
        100%{
            background-position: 100% 0;
        }
    }

    #nav{
        position :sticky;
        top : 0px;
        z-index: 1;
    }

    #navbar{
        display : flex;
        color : white;
        justify-content: space-between;
        width: 80%;
        background-color: transparent;
        border-radius: 50px;
        padding: 20px;
        margin: auto;
        backdrop-filter: brightness(30%) blur(2px);
        transition: all 0.5s;
    }
    #but{
        display: flex;
        margin-right: 60px;
    }
    .nvbut{
        color: black;
        text-decoration: none;
        font-size: 20px;
        margin-right: 30px;
        font-weight: bold;
        background-color: lightgreen;
        padding: 10px;
        transition: all 0.2s;
        border: 3px solid lightgreen;
        border-radius: 30px;
    }

    .nvbut:hover{
        transform: scale(1.2);
        background-color: transparent;
        color: white;
        border: 3px solid palevioletred;
    }
    #logo{
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        margin-left: 60px;
        margin-top: 10px;
        transition: all 0.5s;
    }
    #logo:hover{
        color : palevioletred;
        cursor: pointer;
        transform: scale(1.2);
    }
    #contentcontainer{
        background: linear-gradient(to bottom,rgba(0, 51, 41, 1) 1%,rgba(0, 51, 41, 0.5)); 
        width: 100%;
        position: relative;
        top: 50px;
        padding-top: 150px;
        padding-bottom: 20px;
    }
    .outdiv{
        color: white;
        width: 80%;
        display: grid;
        grid-template-columns: 45% auto;
        margin: auto;
        border-radius: 30px;
        transition: all 0.3s;
    }
    .inner:hover{
        box-shadow: 0px 0px 20px lightgreen;
    }
    .iframe:hover{
        box-shadow: 0px 0px 20px violet;
    }
    .iframe{
        height: 500px;
        width: 100%;
        border: 5px solid violet;
        border-left: none;
        border-radius: 0px 30px 30px 0px;
    }

    .inner{
        border: 5px solid lightgreen;
        border-right: none;
        height: 500px;
        position: relative;
        overflow: hidden;
        border-radius: 30px 0px 0px 30px;
        transition: all 0.3s;
        margin-bottom: 50px;
        background-color: rgba(0, 51, 41, 0.1);
    }
    .contentheading{
        backdrop-filter: blur(10px);
        text-align: center;
        border-bottom: 3px solid white;
        font-family: 'calibri';
        color: violet;
    }
    .contentpost{
        font-size: large;
        overflow: auto;
        height: 410px;
        padding :10px 0px 0px 10px;
        color: lightseagreen;
        backdrop-filter: brightness(30%);
        font-family: 'calibri light';
    }
    .contentack{
        /* background-color: violet; */
        text-align: end;
        padding-right: 20px;
        font-family:'Gabriola';
        letter-spacing: 5px;
        font-weight: lighter;
        backdrop-filter: blur(10px);
        position: relative;
    }
    #next{
        height: 50px;
        width: 100px;
        background-color: palevioletred;
        font-size: xx-large;
        clip-path: polygon(0% 50%,50% 100%, 100% 50%, 100% 0%, 0% 0%);
        transition: all 0.3s;
    }
    #next:hover{
        clip-path: polygon(0% 20%,50% 100%, 100% 20%, 100% 0%, 0% 0%);
        background-color: lightgreen;
    }
    #nextbtndiv{
        width: 100%;
        position: relative;
        top: 50px;
        padding-top: 100px;
        padding-bottom: 40px;
        background-color: #003329;
        opacity: 0.8;
        display: flex;
        justify-content: center;
    }
    #searchdiv{
        width: fit-content;
        margin: auto;
        width: 80%;
    }
    #searchinp{
        width: 30%;
        font-size: large;
        padding: 10px;
        border-radius: 20px;
        color: palevioletred;
        font-weight: bold;
        transition: all 0.3s;
        outline: 2px solid lightgreen;
        background-color: transparent;
    }
    #searchbut{
        padding: 13px;
        border-radius: 20px;
        background-color: lightgreen;
        font-weight: bold;
        font-size: large;
        
    }
    #searchinp:focus{
        background-color: rgba(255, 255, 255, 0.1);
    }
    object{
        width: 100%;
        height: 100%;
        background-color: transparent;
        position: relative;
        align-self: center;
    }
    #loaderdiv{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0px;
        display: flex;
        justify-content: center;
        background-color: transparent;
        backdrop-filter: blur(10px);
        z-index: 5;
    }
    #paralaxdiv{
        width: 100%;
        position: absolute;
        top: 0;
        height: 110vh;
        z-index: -1;
        overflow: hidden;
    }
    #paralaxleaf{
        position: absolute;
        right: 0;
        width: 100%;
        filter: drop-shadow(4px 4px 0px lightgreen);
        transition: all 0.3s;
    }
    #paralaxplant{
        position: absolute;
        width: 100%;
        bottom: 0;
        filter: drop-shadow(4px 4px 0px lightgreen);
    }
    #paralaxhill{
        position: absolute;
        width: 100%;
        bottom: 0;
        transition: all 0.3s;
        filter:drop-shadow(400px 80px 0px black);
    }
    
}









































@media(max-width : 1099px){
    body{
        background: linear-gradient(to top right, blue,crimson);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100vh;
        
    }
    pre{
        display: none;
    }
    #heading{
        font-size: 300%;
        backdrop-filter: blur(10px) brightness(40%);
        font-weight: bold;
        color: white;
        padding: 5% 0 5% 0;
    }
    #navbut{
        display: block;
        margin-right: 20px;
        font-size: xx-large;
    }
    #nav{
        position :sticky;
        top : 0px;
        z-index: 1;
    }

    #navbar{
        display : flex;
        color : white;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        backdrop-filter: brightness(30%) blur(2px);
        height: 50px;
        align-items: center;
    }
    #but{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s;
        position: absolute;
        top: 50px;
        right: 0px;
        z-index: 2;
        background-color: black;
        overflow: hidden;
        height: 100vh;
        width: 0%;
    }
    .nvbut{
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        background-color: lightgreen;
        padding: 40px 80px 40px 80px;
        border-radius: 30px;
        transition: all 0.5s;
        margin: 20px 0px 20px 0px;
        margin-left: 110%;
        text-align: center;
        border: 5px solid violet;
    }

    #logo{
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
        margin-left: 5px;
        animation: changelogo 10s infinite;
    }

    @keyframes changelogo{
        0%{
            color: white;
        }
        25%{
            color: lightgreen;
        }
        50%{
            color: palevioletred;
        }
        75%{
            color: crimson;
        }
        100%{
            color: white;
        }
    }
    

    .outdiv{
        color: white;
        width: 95%;
        margin: auto;
    }
    #content{
        margin-top : 100px;
    }

    .inner{
        border: 5px solid lightgreen;
        height: fit-content;
        position: relative;
        overflow: hidden;
        border-radius: 30px 30px 0px 0px;
        border-bottom: none;
    }
    .iframe{
        width: 99%;
        height: 400px;
        margin-bottom: 50px;
        border: 3px solid violet;
        border-radius: 0px 0px 30px 30px;
    }
    .contentheading{
        backdrop-filter: blur(10px);
        text-align: center;
        border-bottom: 3px solid white;
        font-size: x-large;
    }
    .contentpost{
        font-size: large;
        font-family: 'calibri light';
        overflow: auto;
        height: fit-content;
        padding :10px 0px 50px 10px;
        color: lightseagreen;
        backdrop-filter: brightness(30%);
    }
    .contentack{
        text-align: end;
        padding-right: 20px;
        font-family:'Gabriola';
        letter-spacing: 5px;
        font-weight: lighter;
        backdrop-filter: blur(10px);
        position: absolute;
        bottom: 0;
        width: 95%;
        font-size: large;
    }
    #next{
        height: 50px;
        width: 100px;
        background-color: palevioletred;
        font-size: xx-large;
        clip-path: polygon(0% 50%,50% 100%, 100% 50%, 100% 0%, 0% 0%);
        transition: all 0.3s;
    }
    #next:hover{
        clip-path: polygon(0% 20%,50% 100%, 100% 20%, 100% 0%, 0% 0%);
        background-color: lightgreen;
    }
    #nextbtndiv{
        width: fit-content;
        margin: auto;
        margin-bottom: 50px;
    }
    #searchdiv{
        width: fit-content;
        margin: auto;
        width: 100%;
        z-index: 1;
    }
    #searchinp{
        width: 60%;
        font-size: large;
        padding: 10px;
        border-radius: 20px;
        color: palevioletred;
        font-weight: bold;
    }
    #searchbut{
        padding: 13px;
        border-radius: 20px;
        background-color: lightgreen;
        font-weight: bold;
        font-size: large;
    }
    #searchinp:focus{
        background-color: transparent;
        outline: 2px solid lightgreen;
    }
    object{
        width: 100%;
        height: 100%;
        background-color: transparent;
        position: relative;
        align-self: center;
    }
    #loaderdiv{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0px;
        display: flex;
        justify-content: center;
        background-color: transparent;
        backdrop-filter: blur(10px);
        z-index: 5;
    }

    #paralaxdiv{
        display: none;
    }

}
